body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 40px;
  flex-wrap: wrap;
}

.chart-section {
  width: 750px;
  height: 750px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}